* {
  font-family: Helvetica;
}

h1, h2, h3, p {
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.white {
  color: white;
}

.center {
  text-align: center;
}

.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
