* {
  font-family: Helvetica;
}

h1, h2, h3, p {
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}


h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px
}

h4 {
  text-align: left;
  font-size: 11px;
  color: white;
  display: inline;
}

p {
  font-size: 14px:
}

.link {
  font-size: 18px;
  color: white;
}

.image {
  background-image: url("images/the-flatiron-building.png");
  background-size: cover;
}

.white {
  color: white;
}

.center {
  text-align: center;
}

span {
  width: 100%;
}

.footer{
  background-color: dimgray;
}
